<template>
<v-row cols="12" class="mw-100">
<v-simple-table>
    <template v-slot:default >
      <thead>
        <tr>
          <th class="text-left" width="500">
            Name
          </th>
          <th class="text-left" width="500">
            Type
          </th>
          <th class="text-left" width="500">
            Numbere of Images
          </th>
          <th class="text-left" width="500">
            Created Date
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in desserts"
          :key="item.name"
        >
          <td>{{ item.name }}</td>
          <td>{{ item.type }}</td>
          <td>{{ item.numberOfImages }}</td>
          <td>{{ item.createdDate }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</v-row>
  
</template>

<script>
  export default {
    data () {
      return {
        desserts: [
          {
            name: 'Vehciles',
            type: 'Classification',
            numberOfImages: 1024,
            createdDate: '2021-05-01 10:14 AM'
          },
          {
            name: 'Plate Numbers',
            type: 'Labeling',
            numberOfImages: 1024,
            createdDate: '2021-05-01 10:14 AM'
          },
          {
            name: 'Dataset 1',
            type: 'Classification',
            numberOfImages: 1024,
            createdDate: '2021-05-01 10:14 AM'
          },
          {
            name: 'Dataset 2',
            type: 'Labeling',
            numberOfImages: 1024,
            createdDate: '2021-05-01 10:14 AM'
          },
          {
            name: 'Dateset 3',
            type: 'Classification',
            numberOfImages: 1024,
            createdDate: '2021-05-01 10:14 AM'
          },
          {
            name: 'Dataset 4',
            type: 'Classification',
            numberOfImages: 1024,
            createdDate: '2021-05-01 10:14 AM'
          },
        ],
      }
    },
  }
</script>