<template>
  <div>
    <v-container fluid>
    <v-row cols="12">
      <v-col cols="4">
        <v-text-field
      label="Dataset Name"
      :rules="rules"
      hide-details="auto"
      outlined
          dense
    ></v-text-field>
      </v-col>
      

      <v-col cols="4">
        <v-combobox
          v-model="select"
          :items="items"
          label="Dataset Type"
          
          outlined
          dense
        ></v-combobox>
      </v-col>
      <v-col cols="1">
        <v-btn elevation="2">
      Create Dataset
    </v-btn>
      </v-col>
    </v-row >
    <v-row cols="12">
      <v-col cols="12">
        <DatasetsListing />
      </v-col>
      
    </v-row>
  </v-container>
  </div>
</template>

<script>
  import DatasetsListing from './DatasetsListing';

  export default {
    name: 'Home',
    components: {
        DatasetsListing
      },
    data: () => ({
        items: [
          'Classification',
          'Labeling',
        ],
    }),
  }
</script>
