<template>
<v-app>
  <v-navigation-drawer app>
    <NavigationDrawer />
  </v-navigation-drawer>

  <v-app-bar app>
    <Toolbar />
  </v-app-bar>
  <v-main>
    <v-container fluid>
      <Home />
      <router-view></router-view>
    </v-container>
  </v-main>

  <v-footer app>
    <Footer />
  </v-footer>
</v-app>
</template>

<script>
import Home from './components/Home';
import NavigationDrawer from './components/NavigationDrawer';
import Footer from './components/Footer';
import Toolbar from './components/Toolbar';

export default {
  name: 'App',

  components: {
    Home,
    NavigationDrawer,
    Footer,
    Toolbar
  },
};
</script>
